body{
    background: #f3dddd;
}

div{
    background: #dff9fb;
    padding: 10px;
    float:none;
    border-radius: 15px;
}

#player1_name , #player2_name{
    display: inline-block;
    margin-left: 20px;
}



